* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: darkslateblue;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

p {
  color: #fff;
  font-size: 18px;
}

hr {
  background-color: #fff;
  height: 5px;
  width: 100%;
  border-color: #fff;
}

.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}

.figure-part {
  display: none;
}

.figure-part-visible {
  display: block;
}

.heading-container {
  text-align: center;
  padding: 16px 0 16px 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.word-input-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.char-input {
  width: 50px;
  height: 40px;
  margin-inline: 5px;
  font-size: 26px;
  text-align: center;
  border-radius: 6px;
}

.char-input:disabled {
  background-color: #fff;
}

.wrong-chars-container {
  display: flex;
  width: 75%;
  margin-bottom: 30px;
}

.wrong-chars-container > :first-child {
  display: flex;
  flex: 1;
}

.wrong-chars-container-text {
  width: 25%;
  display: flex;
}

.wrong-chars-heading {
  margin-right: 5px;
}

dialog {
  margin: auto;
  border: none;
  width: 300px;
  height: 200px;
  border-radius: 8px;
  padding: 12px;
}

dialog::backdrop {
  background-color: rgba(152, 152, 152, 0.5);
  width: 100%;
  height: 100%;
}

.dialog-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.dialog-body > h2 {
  text-align: center;
  color: #121212;
}

.dialog-actions {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.dialog-actions > button {
  margin-inline: 5px;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  background-color: silver;
}

.dialog-content > p {
  color: #121212;
  text-align: justify;
  font-size: 16px;
}
